{% unless template == 'index' or template == 'cart' %}
<div class="container py-3">

  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">
          <i class="czi-home"></i>
          Home
        </a>
      </li>
      {% if template contains 'page' %}
      
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>

      {% elsif template contains 'product' %}
      {% if collection.url %}
      <li class="breadcrumb-item">
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      </li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
      {% elsif template contains 'collection' and collection.handle %}
      {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      <li class="breadcrumb-item">
        <a href="{{ url }}">{{ collection.title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
      {% else %}
      <li class="breadcrumb-item active" aria-current="page">{{ collection.title }}</li>
      {% endif %}

      {% elsif template == 'blog' %}
      {% if current_tags %}

      <li class="breadcrumb-item">
        <a href="{{ blog.url }}">{{ blog.title }}</a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
     
      {% else %}
      <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
      {% endif %}

      {% elsif template == 'article' %}
      <li class="breadcrumb-item">
        <a href="{{ blog.url }}">{{ blog.title }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
      {% else %}
      <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
      {% endif %}
    </ol>
  </nav>
 
</div>
 {% endunless %}