<body>
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-secondary">
              <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
                <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
              </ul>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
              <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
                <div class="mb-3">
                  <label class="form-label" for="si-email">Email address</label>
                  <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
                  <div class="invalid-feedback">Please provide a valid email address.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="si-password">Password</label>
                  <div class="password-toggle">
                    <input class="form-control" type="password" id="si-password" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="mb-3 d-flex flex-wrap justify-content-between">
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="si-remember">
                    <label class="form-check-label" for="si-remember">Remember me</label>
                  </div><a class="fs-sm" href="#">Forgot password?</a>
                </div>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
              </form>
              <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
                <div class="mb-3">
                  <label class="form-label" for="su-name">Full name</label>
                  <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
                  <div class="invalid-feedback">Please fill in your name.</div>
                </div>
                <div class="mb-3">
                  <label for="su-email">Email address</label>
                  <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
                  <div class="invalid-feedback">Please provide a valid email address.</div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="su-password">Password</label>
                  <div class="password-toggle">
                    <input class="form-control" type="password" id="su-password" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="su-password-confirm">Confirm password</label>
                  <div class="password-toggle">
                    <input class="form-control" type="password" id="su-password-confirm" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar-->
      <header class="bg-light shadow-sm fixed-top" data-fixed-element>
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="/" style="min-width: 7rem;">
                <img width="95"
                  src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/TedalaMarket_Approved_logo_Transparent_95x.png?v=1595012891"
                  alt="TedalaMarket" /></a>
              <a class="navbar-brand d-sm-none mr-2" href="/" style="min-width: 4.625rem;">
                <img width="74"
                  src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/TedalaMarket_Approved_logo_Transparent_74x.png?v=1595012891"
                  alt="TedalaMarket" /></a>
    
            <!-- Search-->
            <form class="input-group-overlay d-none d-lg-flex mx-4" action="/search" method="get">
                <input class="form-control appended-form-control" name="q" value="{{ search.terms | escape }}" type="text"
                  placeholder="Search for products">
                <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span>
                </div>
            </form>
            <!-- Toolbar-->
            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideNav"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-flex d-lg-none" href="#searchBox" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div></a>
                <a class="navbar-tool d-none d-lg-flex" href="/pages/wishlist"><span
                    class="navbar-tool-tooltip">Wishlist</span>
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-heart"></i></div>
                </a>
                
                {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="/account">
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-user"></i></div>
                  <div class="navbar-tool-text ml-n3"><small>Hello,</small>{{ customer.name }}</div>
                </a>
                {% else %}
                <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="/account/login">
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-user"></i></div>
                  <div class="navbar-tool-text ml-n3"><small>Hello, Sign in</small>My Account</div>
                </a>
                {% endif %}
                {% endif %} 

                <div class="navbar-tool dropdown ms-3">
                    <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                      href="/cart">
                      <span class="navbar-tool-label">{{ cart.item_count }}</span><i
                        class="navbar-tool-icon czi-cart"></i></a>
                        <a class="navbar-tool-text" href="/cart"><small>My
                        Cart</small>{{ cart.total_price | money }}</a>
                    <!-- Cart dropdown-->
                    <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
                      <div class="widget widget-cart px-3 pt-2">
                        <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
      
                          {% for item in cart.items %}
                          <div class="widget-cart-item pb-2 border-bottom">
                            <a class="close text-danger" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                              aria-label="Remove">
                              <span aria-hidden="true">&times;</span>
                            </a>
      
                            <div class="media align-items-center">
                              <a class="d-block mr-2" href="{{item.url}}">
                                {{ item | img_url: '100x100' | img_tag }}
                              </a>
                              <div class="media-body">
                                <h6 class="widget-product-title"><a href="{{item.url}}">{{item.title}}</a>
                                </h6>
                                <div class="widget-product-meta">
                                  <span class="text-accent mr-2">{{item.final_price | money }}<span class="text-muted">x
                                      {{item.quantity}}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <a class="btn btn-primary btn-sm btn-block" href="/cart"><i
                            class="czi-card mr-2 font-size-base align-middle"></i>Checkout</a>
                      </div>
                    </div>
                  </div>

              
            </div>
          </div>
        </div>
        <!-- Search collapse-->
        <div class="collapse" id="searchBox">
          <div class="card pt-2 pb-4 border-0 rounded-0">
            <form class="container" action="/search" method="get">
              <div class="input-group">
                  <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                  <input class="form-control rounded-start"  name="q" value="{{ search.terms | escape }}" type="text"
                      placeholder="Search for products">
              </div>
            </form>
          </div>
        </div>
      </header>
