<!Doctype html>
<html lang="en">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="{{'simplebar.min.css' | asset_url }}" />
  <link rel="stylesheet" media="screen" href="{{'tiny-slider.css' | asset_url }}" />
  
  <link rel="stylesheet" media="screen" href="{{ 'nouislider.cs'| asset_url }}" />
  <link rel="stylesheet" media="screen" href="{{ 'drift-basic.min.css' | asset_url }}" />
  <link rel="shortcut icon"
    href="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/TedalaMarket_Approved_logo_Transparent_1.png?v=1595012870"
    type="image/x-icon">
  <!-- CSS only -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->

  {{ content_for_header }}
  <!-- Header hook for plugins -->
  {{ 'theme.min.css' | asset_url | stylesheet_tag }}
  {{ 'application.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  <script src="{{ 'Wishlist.js' | asset_url }}" defer="defer"></script>
</head>

<body class="toolbar-enabled">



  <header class="box-shadow-sm" style="z-index: 100!important;">
    <!-- Topbar-->
    <!-- <div class="topbar topbar-dark bg-dark">
      <div class="container">
        <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#"
            data-toggle="dropdown">Useful links</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="tel:00331697720"><i class="czi-support text-muted mr-2"></i>(00) 33 169
                7720</a></li>
            <li><a class="dropdown-item" href="order-tracking.html"><i class="czi-location text-muted mr-2"></i>Order
                tracking</a></li>
          </ul>
        </div>
        <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="czi-support"></i><span
            class="text-muted mr-1">Support</span><a class="topbar-link" href="tel:00331697720">(00) 33 169 7720</a>
        </div>
        <div class="cz-carousel cz-controls-static d-none d-md-block">
          <div class="cz-carousel-inner"
            data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
            <div class="topbar-text">Free shipping for order over $200</div>
            <div class="topbar-text">We return money within 30 days</div>
            <div class="topbar-text">Friendly 24/7 customer support</div>
          </div>
        </div>
        <div class="ml-3 text-nowrap"><a class="topbar-link mr-4 d-none d-md-inline-block" href="order-tracking.html"><i
              class="czi-location"></i>Order tracking</a>
          <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#"
              data-toggle="dropdown"><img class="mr-2" width="20" src="{{'en.png' | asset_img_url: 'small'}}" alt="English" />Eng / $</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <select class="custom-select custom-select-sm">
                  <option value="usd">$ USD</option>
                  <option value="eur">€ EUR</option>
                  <option value="ukp">£ UKP</option>
                  <option value="jpy">¥ JPY</option>
                </select>
              </li>
              <li>
                <a class="dropdown-item pb-1" href="#">
                <img class="mr-2" width="20" src="{{'fr.png' | asset_url }}" alt="Français" />Français</a>
              </li>
              <li>
                <a class="dropdown-item pb-1" href="#">
                  <img class="mr-2" width="20" src="{{'de.png' | asset_url }}" alt="Deutsch" />
                  Deutsch
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <img class="mr-2" width="20" src="{{'it.png' | asset_url }}" alt="Italiano" />'
                  Italiano
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="fixed-top bg-light">
      <div class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" href="/" style="min-width: 7rem;">
            <img width="128"
              src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/TedalaMarket_Approved_logo_Transparent_128x.png?v=1595012891"
              alt="TedalaMarket" /></a>
          <a class="navbar-brand d-sm-none mr-2" href="/" style="min-width: 4.625rem;">
            <img width="74"
              src="https://cdn.shopify.com/s/files/1/0261/1340/9060/files/TedalaMarket_Approved_logo_Transparent_180x.png?v=1595012891"
              alt="TedalaMarket" /></a>


          <form class="input-group-overlay d-none d-lg-flex mx-4" action="/search" method="get">
            <input class="form-control appended-form-control" name="q" value="{{ search.terms | escape }}" type="text"
              placeholder="Search for products">
            <div class="input-group-append-overlay"><span class="input-group-text"><i class="czi-search"></i></span>
            </div>
          </form>
          <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"><span
                class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#"><span
                class="navbar-tool-tooltip">Expand menu</span>
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-menu"></i></div>
            </a>

            <a class="navbar-tool d-none d-lg-flex" href="/pages/wishlist"><span
                class="navbar-tool-tooltip">Wishlist</span>
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-heart"></i></div>
            </a>

            {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="/account">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-user"></i></div>
              <div class="navbar-tool-text ml-n3"><small>Hello,</small>{{ customer.name }}</div>
            </a>
            {% else %}
            <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="/account/login">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon czi-user"></i></div>
              <div class="navbar-tool-text ml-n3"><small>Hello, Sign in</small>My Account</div>
            </a>
            {% endif %}
            {% endif %}

            <div class="navbar-tool dropdown ml-3">
              <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                href="/cart">
                <span class="navbar-tool-label">{{ cart.item_count }}</span><i
                  class="navbar-tool-icon czi-cart"></i></a>
                  <a class="navbar-tool-text" href="/cart"><small>My
                  Cart</small>{{ cart.total_price | money }}</a>
              <!-- Cart dropdown-->
              <div class="dropdown-menu dropdown-menu-right" style="width: 20rem;">
                <div class="widget widget-cart px-3 pt-2">
                  <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

                    {% for item in cart.items %}
                    <div class="widget-cart-item pb-2 border-bottom">
                      <a class="close text-danger" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                        aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </a>

                      <div class="media align-items-center">
                        <a class="d-block mr-2" href="{{item.url}}">
                          {{ item | img_url: '100x100' | img_tag }}
                        </a>
                        <div class="media-body">
                          <h6 class="widget-product-title"><a href="{{item.url}}">{{item.title}}</a>
                          </h6>
                          <div class="widget-product-meta">
                            <span class="text-accent mr-2">{{item.final_price | money }}<span class="text-muted">x
                                {{item.quantity}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <a class="btn btn-primary btn-sm btn-block" href="/cart"><i
                      class="czi-card mr-2 font-size-base align-middle"></i>Checkout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Search-->
            <div class="input-group-overlay d-lg-none my-3">
              <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="czi-search"></i></span>
              </div>
              <form action="/search" method="get">
                <input class="form-control prepended-form-control" name="q" value="{{ search.terms | escape }}"
                  type="text" placeholder="Search for products">
              </form>
            </div>
            <!-- Primary menu-->
            <ul class="navbar-nav">
              <li class="nav-item dropdown">

                <a class="nav-link active" aria-current="page" href="{{'/'}}">{{'home' | capitalize }}</a>

              </li>
              {% section 'navigation' %}

              {% for link in linklists.main-menu.links %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}

              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>


              {% if shop.customer_accounts_enabled %}
              {% if customer %}
              <li>
                <a href="/account" class="nav-link">Account</a>
              </li>
              <li>
                {{ 'Logout' | customer_logout_link | replace: '<a', '<a class="nav-link"' }} </li>

                  {% else %}
              <li>
                {{ 'Login '| capitalize | customer_login_link | replace: '<a', '<a class="nav-link"' }} </li>
              <li>
                {{ 'Register' | capitalize | customer_register_link | replace: '<a', '<a class="nav-link"' }} </li>
                  {% endif %}
                  {% endif %}
              </li>
              <li class="nav-item dropdown">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
  </header>

  {% render 'breadcrumbs' %}

  <!-- <h1>Links</h1>
  {% for link in linklists.main-menu.links %}
  <li class="nav-item">
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
  {% endfor %} -->
  {% render 'sidenav' %}

  <main role="main" class="sidebar-fixed-enabled" style="padding-top: 15rem;">
    {{ content_for_layout }}

    {% section 'footer' %}
  </main>

</body>

</html>