<!-- {% for product in collections.frontpage.products  %}
<div>
  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  {{ product.price | money }}
  {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
</div>
{% endfor %} -->
<div class="container pt-8">
  <h1>Products</h1>
  {% assign beauty_personal_care = collections | where: 'template_suffix','beauty-personal_care' %}
  <ul>
    {% for collection in beauty_personal_care   %}
      <a href="{{ collection.url }}">
        {{collection.title}}
      </a>
    </h3>

    <ul>
      {% for item in collection.products %}
      <li>
        <p>{{item.title}}</p>
        <a href="{{item.url}}">Buy</a>
        <br>
      </li>
      {% endfor %}
    </ul>
       

    {% endfor %}

   


  </ul>
</div>