<div class="container">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  <section class="row no-gutters mx-n2 pb-5 mb-xl-3">
    <div class="col-xl-7 px-2 mb-3">
      <div class="h-100 bg-light rounded-lg p-4">
        <div class="cz-product-gallery">
          <div class="cz-preview order-sm-2">
            {% for image in product.images %}
            <div class="cz-preview-item active" id="{{ image.id }}">
              <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
            </div>
            {% endfor %}
          </div>

          <div class="cz-thumblist order-sm-1">
            {% for image in product.images %}
            <a class="cz-thumblist-item active" href="#{{ image.id }}">
              <img src="{{ image.src | img_url: 'small' }}" alt="{{ image.alt | escape }}">
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 px-2 mb-3">
      <div class="h-100 bg-light rounded-lg py-5 px-4 px-sm-5">

        <!-- <a class="product-meta d-block font-size-sm pb-2" href="#"></a> -->

        {% for collection in product.collections %}
        <a class="product-meta d-block font-size-sm pb-2" href="{{ collection.url }}"> {{ collection.title }}</a>
        {% endfor %}
        <h1 class="h2">{{ product.title }}</h1>
        <div class="h2 font-weight-normal text-accent"> {{ current_variant.price | money }}</div>
        <div class="form-group d-flex flex-wrap align-items-center pt-4 pb-2">


          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <div class="row  mr-3 mb-3">
              <div class="col-5">
                <div class="form-group">
                  <label for="productSelect">Type</label>
                  <select name="id" id="productSelect" class="custom-select" style="width: 100%;">
                    {% for variant in product.variants %}
                    {% if variant.available %}
                    <option value="{{ variant.id }}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>
                    {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - sold out
                    </option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="Quantity">Quantity</label>
                  <input class="form-control" type="number" id="Quantity" name="quantity" value="1" min="1">
                </div>

              </div>
            </div>
            <button class="btn btn-primary btn-shadow mr-3 mb-3" type="submit" name="add" id="AddToCart"><i
                class="czi-cart font-size-lg mr-2"></i>Add to Cart</button>
            <button class="btn btn-icon btn-secondary mb-3" type="submit" data-toggle="tooltip"
              title="Add to Wishlist"><i class="czi-heart font-size-lg"></i></button>
          </form>

        </div>
        <h6>Product description</h6>
        <ul class="list-unstyled font-size-sm pt-2 mb-0">
          <li>
            <i class="czi-check-circle text-success mr-2"></i>{{ product.description }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>